@using schedule;
@model dynamic

    <form asp-controller="Schedule" asp-action="GetGroupByCourseId" method="post">
<select data-val="true" id="IdCourse" name="IdCourse">
    <option disabled>Course</option>
    @foreach (Course item in Model.Course)
   {
      
                <option value="@item.IdCourse">
                 
                    @Html.DisplayFor(modelItem => item.numCourse)
                   
                </option>
                 
      
                 
   }
       
</select>
     <input type="submit"/>
 </form>  
